.scroll-to-top{bottom:2px;}
.color_label{display:inline-block;vertical-align:top;color:#fff;font-style:normal;font-size:11px;padding:0 3px;height:19px;line-height:18px;letter-spacing: -1px;margin-right:3px;box-sizing: border-box;}
.color_label.A010_1{background:#90ee90;}
.color_label.A010_2{background:#87cefa;}
.color_label.A010_3{background:#ff5f46;}
.color_label.A010_4{background:#ee82ee;}
.color_label.A001_1{background:#dd4477;}
.color_label.A001_2{background:#994499;}
.color_label.A001_3{background:#6633cc;}
.color_label.A001_4{background:#336699;}
.color_label.A001_6{background:#22aa99;}
.color_label.A001_7{background:#329262;}
.color_label.A001_8{background:#109618;}
.color_label.A001_9{background:#66aa00;}
.color_label.A001_10{background:#aaaa11;}
.color_label.A001_12{background:#ee8800;}
.color_label.A001_13{background:#dd5511;}
.color_label.A001_14{background:#a87070;}
.color_label.A001_15{background:#627487;}
.color_label.A001_16{background:#8c6d8c;}
.color_label.A001_17{background:#7083a8;}
.color_label.A001_18{background:#5c8d87;}
.color_label.A001_11{background:#d6ae00;}
.color_label.A001_5{background:#3366cc;}

.color_label.A006_3_1{background:#ff6347;}
.color_label.A006_3_2{background:#90ee90;}
.color_label.A006_3_3{background:#87cefa;}
.color_label.A006_3_4{background:#ffb6c1;}
.color_label.A006_3_5{background:#ee82ee;}

.color_label.A007_2{background:#808080;}
.color_label.A007_3{background:#808080;}
.color_label.A007_4{background:#808080;}

.color_label.A009_2_1{border:1px solid #595959;background:none;color:#595959;}
.color_label.A009_2_2{background:#595959;}


.color_label.A011_1{background:#89d2fe;}
.color_label.A011_2{background:#4064e5;}
.color_label.A011_3{background:#ff6149;}
.color_label.A011_4{background:#f20402;}

.color_label.etc1{background:#EC6E55;}
.color_label.etc2{background:#EC6E55;}
.color_label.etc3{background:#87cfff;}
.color_label.etc4{background:#4467d6;}
.color_label.etc5{background:#2c842b;}
.color_label.etc6{background:#f7d30e;}



.ico{text-indent:-9999px;display:inline-block;width:18px;height:18px;}
.ico.A002_1{background:url('/assets/pages/img/icon/ico_A002_1.png') center center no-repeat;}
.ico.A002_2{background:url('/assets/pages/img/icon/ico_A002_2.png') center center no-repeat;}
.ico.A002_3{background:url('/assets/pages/img/icon/ico_A002_3.png') center center no-repeat;}
.ico.A002_4{background:url('/assets/pages/img/icon/ico_A002_4.png') center center no-repeat;}

.ico.A002_list_1{background:url('/assets/pages/img/icon/ico_A002_1.png'); padding-top:5px}
.ico.A002_list_2{background:url('/assets/pages/img/icon/ico_A002_2.png') center center no-repeat; padding-top:5px}
.ico.A002_list_3{background:url('/assets/pages/img/icon/ico_A002_3.png') center center no-repeat; padding-top:5px}
.ico.A002_list_4{background:url('/assets/pages/img/icon/ico_A002_4.png') center center no-repeat; padding-top:5px}

.ico.A006_1_2{background:url('/assets/pages/img/icon/ico_A006_1_2.png') center center no-repeat;}
.ico.A006_1_3{background:url('/assets/pages/img/icon/ico_A006_1_3.png') center center no-repeat;}
.ico.A006_1_4{background:url('/assets/pages/img/icon/ico_A006_1_4.png') center center no-repeat;}
.ico.A006_1_5{background:url('/assets/pages/img/icon/ico_A006_1_5.png') center center no-repeat;}

.ico.A006_2_2{background:url('/assets/pages/img/icon/ico_A006_2_2.png') center center no-repeat;}
.ico.A006_2_3{background:url('/assets/pages/img/icon/ico_A006_2_3.png') center center no-repeat;}
.ico.A006_2_4{background:url('/assets/pages/img/icon/ico_A006_2_4.png') center center no-repeat;}
.ico.A006_2_5{background:url('/assets/pages/img/icon/ico_A006_2_5.png') center center no-repeat;}

.ico.A008_1{background:url('/assets/pages/img/icon/ico_A008_1.png') center center no-repeat;}
.ico.A008_2{background:url('/assets/pages/img/icon/ico_A008_2.png') center center no-repeat;}
.ico.A008_3{background:url('/assets/pages/img/icon/ico_A008_3.png') center center no-repeat;}
.ico.A008_4{background:url('/assets/pages/img/icon/ico_A008_4.png') center center no-repeat;}
.ico.A008_5{background:url('/assets/pages/img/icon/ico_A008_5.png') center center no-repeat;}
.ico.A008_6{background:url('/assets/pages/img/icon/ico_A008_6.png') center center no-repeat;}
.ico.A008_7{background:url('/assets/pages/img/icon/ico_A008_7.png') center center no-repeat;}
.ico.A008_8{background:url('/assets/pages/img/icon/ico_A008_3.png') center center no-repeat;}
.ico.A008_9{background:url('/assets/pages/img/icon/ico_A008_9.png') center center no-repeat;}

.ico.A009_1_1{background:url('/assets/pages/img/icon/ico_A009_1_1.png') center center no-repeat;}
.ico.A009_1_2{background:url('/assets/pages/img/icon/ico_A009_1_2.png') center center no-repeat;}

.ico.A021_1{background:url('/assets/pages/img/icon/ico_A021_1.png') center center no-repeat;}

.ico.check_0{background:url('/assets/pages/img/icon/ico_check_0.png') center center no-repeat;}
.ico.check_1{background:url('/assets/pages/img/icon/ico_check_1.png') center center no-repeat;}
.ico.check_2{background:url('/assets/pages/img/icon/ico_check_2.png') center center no-repeat;}

.ico.plus{background:url('/assets/pages/img/icon/ico_plus.png') center center no-repeat;}

.page-content-wrapper .page-content{padding-bottom:100px;}

.month_tbs table tbody td{height:100px !important;text-align:right;}
.month_tbs table thead th:first-child{}
.month_tbs table thead th:last-child{}
.month_tbs table tbody td{background:#fff;}
.month_tbs table tbody td.today{position:relative;}
.month_tbs table tbody td.today:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border:1px solid #000;
}
.month_tbs table tbody td.holiday{color:#f00;}
.month_tbs table tbody td:first-child{color: #f00;}
.month_tbs table tbody td:last-child{}

.month_tbs table tbody td #planHead:hover{background:rgba(140,120,105,.5);cursor: pointer;}

.table-advance thead tr th {
    background-color: #fbfbfb;
    font-size: 13px;
    font-weight: 400;
    color: #3f444a;
    text-align: center !important;

}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top !important;
    border-top: 1px solid #e7ecf1;
}

.print {background:#fff;font-family: 'Nanum Myeongjo'; width: 1000px; font-size: 14px; color:#615a52; border:1px solid #615a52; border-bottom: 0px; margin:0 auto; }
.print .title { padding:20px 20px 5px 20px; font-size: 30px; text-align: center; border-bottom: 1px solid #615a52; }
.print .info { font-size: 16px; text-align: left; margin-top: 50px;  }
.print .section { overflow: hidden; border-top: 1px solid #615a52; }
.print .alert { padding: 10px; border-top: 1px solid #615a52; border-bottom: 1px solid #615a52; }
.print table { width: 100%; border-spacing: 0px; border-collapse: 0px; }
.print th { font-weight: normal; text-align: center; padding:0px 5px; border-right:1px solid #615a52; border-bottom:1px solid #615a52; }
.print td { text-align: center; padding:0px 5px; border-right:1px solid #615a52; border-bottom:1px solid #615a52; }
.print td.patient { position: relative; letter-spacing: 5px; }
.print td.patient span.guide { position: absolute; right: 5px; bottom:5px; }

.print .one td { height: 48px; }
.print .section .one td.patient { border-right: 0px; }
.print .section .two td { height: 36px; border-right: 0px; border-left: 1px solid #615a52; }
.print .section .three td { height: 40px; }
.print .section .three td.last { border-right: 0px; }
.print .section .three td span.name { font-size: 20px; }
.print .section .four th { height: 60px; }
.print .section .four th.last { border-right: 0px; }
.print .section .four td { height: 35px; }
.print .section .four td.left { padding-left: 20px; text-align: left; }
.print .section .four td.last { border-right: 0px; }
.print .section .five th { height: 50px; }
.print .section .five td { height: 40px; }
.print .section .five th.last { border-right: 0px; }
.print .section .five td.last { border-right: 0px; }

.print .one { float: left; width: 50%; }
.print .two { float: left; width: 50%; }
.print .three { width: 100%; }
.print .four { width: 100%; }
.print .five { width: 100%; }


.print .recordTitle{ padding:20px 20px 5px 20px; font-size: 30px; text-align: left; border-bottom: 2px solid #615a52;}
.print .recordInfo { font-size: 16px; text-align: right; margin-top: 50px;  }

.print .recordSection { width: 100%; }
.print .recordSection td { height: 48px; }
.print .recordSection th { height: 40px; }
.print .recordSection th.recordlast { border-right: 0px; }
.print .recordSection td.recordpatient { border-right: 0px; }
.print .recordSection td.recordpatient { border-right: 0px; }
.print .recordSection td.recordleft { padding-left: 20px; text-align: left; border-right: 0px; }

.print .recordhead { width: 100%; border-bottom: 2px solid #615a52; }
.print .recordSpace { height: 20px; border-top: 1px solid #615a52; border-bottom: 1px solid #615a52; }
.print .recordContent { width: 100%; }