.kt-width-100per{
    width:100% !important;
}
.kt-width-50per{
    width:50% !important;
}

@media (max-width: 1024px){
    .kt-width-50per{
        width:100%  !important;;
    }
}
.kt-mt-3{
    margin-top:3px !important;
}
.kt-h20{
    height:20px !important;
}
.kt-h30{
    height:30px !important;
}
.kt-h50{
    height:50px !important;
}
.lineHeight-110{
    line-height:110%;
}
.lineHeight-30{
    line-height:30px;
}
.kt-custom-list-info{
    position:relative;
    display:block;
    width:100%;
}
.kt-custom-list-info ul, .kt-custom-list-info2 ul{
    margin:0;
    padding:0;
    display:table;
}
.kt-custom-list-info li, .kt-custom-list-info2 li{
    position:relative;
    list-style: none;
    vertical-align: middle;
    display:table-cell;
    /*height:40px;*/
    line-height:120%;
    padding-right:15px;
    text-align:center;
}
.kt-custom-list-info2 li:first-child{
    padding-right:40px;
}
.kt-custom-list-info2 li:last-child{
    padding-left:15px;
}
.kt-custom-list-info li:first-child dt, .kt-custom-list-info li:first-child dd,.kt-custom-list-info li:last-child dt, .kt-custom-list-info li:last-child dd{
    display:inline-block;
    overflow:visible;
}
.kt-custom-list-info li:first-child dt{

}
.kt-custom-list-info li:first-child dt{

}
.kt-custom-list-info dl, .kt-custom-list-info2 dl{
    margin:0;
    padding:0;
}

.kt-custom-list-info dt, .kt-custom-list-info2 dt{
    margin:0;
    padding:0;
    font-size:10px !important;
    font-weight:normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.kt-custom-list-info dd{
    margin:0 0 0 0;
    padding:0;
    font-size:12px !important;
    display:block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.kt-custom-list-info dd .kt-badge{

}
.kt-custom-list-info .fontFamily-change{
    font-style:normal;
    font-family: 'Arial', sans-serif;
}
.kt-custom-list-info .ellipsis, .kt-custom-list-info2 .ellipsis{
    max-width:100px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.kt-custom-list-info2 .modify{
    position:absolute;
    top:50%;
    right:0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.kt-custom-list-info .solo{
    position:absolute;
    top:2px;
    right:0;
}

@media (max-width: 1024px) {
    .kt-custom-list-info li{
        width:33.33% !important;
        display:inline-block;
        height:auto;
        padding:3px 0;
    }
}
.kt-custom-checkbox-list label{
    font-size: 1rem;
    font-weight: 400;
}
.kt-custom-checkbox-list ul{
    position:relative;
    top:-5px;
}
.kt-custom-checkbox-list li{
    display:inline-block;
    text-align:left !important;
    width:50% !important;
    padding: 4px 0 !important;
    height:auto !important;
    line-height:100% !important;
}
.kt-custom-list-info-bts .btn{
    height: 32px !important;
}
.active-fav i:before{
    color: #ffb822;
}

.in-row{
    margin-left:-5px;
    margin-right:-5px;
}

.kt-shadow-none{
    box-shadow:none;
    -webkit-box-shadow:none;
}

.kt-min-height-30{
    min-height:30px !important
}

.kt-position-relative{
    position:relative !important;
}

.kt-checkbox.kt-checkbox-sm{
    padding-left:18px;
    font-size:12px;
    line-height:14px;
}
.kt-checkbox.kt-checkbox-sm > span{
    width:14px;
    height:14px;
}
.kt-checkbox.kt-checkbox-sm > span:after{
    margin-top: -5px;
    width: 4px;
    height: 8px;
    border-width: 0 1px 1px 0/*rtl:ignore*/ !important;
}
.input-group-button{
    border:0;
    padding:0;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    width:100%;
    background:transparent;
}
.col-custom-inner{
    margin-left:10px;
}
.form-control-xsm {
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.kt-custom-select{
    position:relative;
}
.kt-custom-select select{
    background:none;
}
.kt-custom-select:after{
    content:"\f1a9";
    font-size:10px;
    position:absolute;
    top:50%;
    right:10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#74788d;
    font-family: Flaticon2;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.kt-custom-select.brown{
    width:100%;
}
.kt-custom-select.brown .form-control{
    font-size:16px;
    border:2px solid #a08b7d !important;
}
.kt-custom-select.brown:after{
    display:none !important;
}
.kt-custom-select.brown select{
    background:#fff url(../media/ico-select.png) center right no-repeat !important;
}

.kt-custom-reservation-infos{
    line-height:100%;
    padding:2px 0;
}
.kt-custom-reservation-infos dl{
    position:relative;
    display:inline-block;
    font-size:11px;
    margin:0 0 0 5px;
    padding:0;
}
.kt-custom-reservation-infos dl:after{
    content:'/';
    margin-left:5px;
}
.kt-custom-reservation-infos dl:last-child:after{
    content:'';
    display:none;
}
.kt-custom-reservation-infos dt{
    display:inline-block;
    margin:0;
    padding:0;
}
.kt-custom-reservation-infos dd{
    display:inline-block;
    margin:0;
    padding:0;
}
.kt-custom-reservation-labels{
    line-height:100%;
    padding:2px 0;
}
.kt-custom-reservation-labels span{
    position:relative;
    font-size:11px;
    margin-left:5px;
    vertical-align: top;
    display:inline-block;
    padding-left:12px;
    letter-spacing:-0.5px;
}
.kt-custom-reservation-labels i{
    position:absolute;
    top:50%;
    left:0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display:inline-block;
    width:10px;
    height:10px;
}
.kt-horizontal-date{
    border:1px solid #ddd;
}
.kt-horizontal-date ul{
    margin:0;
    padding:0;
    font-size:0;
}
.kt-horizontal-date li{
    display:inline-block;
    text-align:center;
    box-sizing: border-box;
    table-layout: fixed;
    border-right:1px solid #ddd;
    width:30px;
}
.kt-horizontal-date li.sun strong, .kt-horizontal-date li.holiday strong{
    color:red;
}
.kt-horizontal-date li.sun span, .kt-horizontal-date li.holiday span{
    color:red;
}
.kt-horizontal-date li.sat strong{
    color:blue;
}
.kt-horizontal-date li.sat span{
    color:blue;
}
.kt-horizontal-date strong{
    position:relative;
    display:block;
    font-size:10px;
    line-height:100%;
    padding:5px 0;
}
.kt-horizontal-date strong::after{
    content:'';
    position:absolute;
    bottom:0;
    left:50%;
    width:60%;
    margin-left:-30%;
    height:1px;
    background:#ddd;
}
.kt-horizontal-date span{
    display:block;
    font-size:11px;
    line-height:100%;
    padding:5px 0;
}
.kt-picture-lists{
    overflow:hidden;
    overflow-x:auto;
    border:5px solid #ebedf2;
    padding:10px;
}
.kt-picture-lists ul{
    width:200%;
    font-size:0;
    margin:0;
    padding:0;
}
.kt-picture-lists li{
    display:inline-block;
    width:130px;
    margin:0 5px;
}
.kt-picture-lists a{
    display:block;
    color:#000;
}
.kt-picture-lists .thumb{
    display:block;
    width:130px;
    height:150px;
    text-align:center;
    margin-bottom:5px;;
}
.kt-picture-lists .title{
    font-size:14px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    margin:0 5px;
}

.kt-picture-lists .date{
    font-size:14px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    margin:0 5px;
}
.kt-picture-big{
    background:#000;
    padding:20px;
}
.kt-picture-big .summary{
    color:#fff;
    font-size:26px;
    font-weight:bold;
    text-align:center;
    margin-bottom:10px;
}
.kt-picture-big .picture{
    text-align:center;
}

.kt-picture-big .picture img{
    max-width:100%;
    max-height:100%;
}
.kt-tree-menu ul{
    margin:0;
    padding:0;
}
.kt-tree-menu li{
    list-style: none;
}
.kt-tree-menu .tree-item{

}
.kt-tree-menu .kt-checkbox{
    margin:0;
}
.kt-tree-menu .kt-checkbox .fa{
    font-size:17px;
    margin-left:5px;
    margin-top:1px;

}
.kt-tree-menu .kt-checkbox .fa-folder,
.kt-tree-menu .kt-checkbox .fa-folder-plus,
.kt-tree-menu .kt-checkbox .fa-folder-minus,
.kt-tree-menu .kt-checkbox .fa-folder-open{
    color:#fdb736;
}
.kt-tree-menu .kt-checkbox .fa-folder.disabled,
.kt-tree-menu .kt-checkbox .fa-folder-plus.disabled,
.kt-tree-menu .kt-checkbox .fa-folder-minus.disabled,
.kt-tree-menu .kt-checkbox .fa-folder-open.disabled{
    color:#55586a;
}
.kt-tree-menu .tree-more{
    position:absolute;
    top:0;
    left:0;
    font-size:19px;
    display:inline-block;
    vertical-align: top;
    margin-right:10px;
}
.kt-tree-menu .tree-more button{
    background:none;
    padding:0;
    border:0;
}
.kt-tree-menu .fa{
    vertical-align: top;
}
.kt-tree-menu .depth1-item{

}
.kt-tree-menu .tree-item{
    position:relative;
    padding-left:25px;
    margin:10px 0;
}
.kt-tree-menu .depth2{
    margin:10px 0 0 28px;
}
.kt-tree-menu .depth3{
    margin:10px 0 0 28px;
}

.kt-form1{
    color:#000;
    border-bottom:1px solid #000;
}
.kt-form1 .rule{
    font-size:13px;
}
.kt-form1 table{
    width:100%;
    table-layout: fixed;
    color:#000;
    font-size:15px;
}
.kt-form1 table thead th{

}
.kt-form1 table thead th span{
    font-size:30px;
    display:inline-block;
    margin:0 30px;
    font-weight:600;
    padding:50px 0;
}
.kt-form1 table tbody td{
    padding:10px;
    font-size:15px;
}
.kt-form1 table tbody th{
    padding:10px;
    font-weight:400;
    border:1px solid #000;
    font-size:16px;
    line-height:120%;
}
.kt-form1 table tbody td.td-line{
    border:1px solid #000;
}
.kt-form1 table tbody td.numbers{
    padding:0 0 10px 0;
}
.kt-form1 table tbody td.numbers .numbers-box{
    border:1px solid #000;
}
.kt-form1 table tbody td.numbers .numbers-box dl{
    position:relative;
    margin:0;
    padding:5px 0;
}
.kt-form1 table tbody td.numbers .numbers-box dl:first-child{
    border-bottom:1px solid #000;
}
.kt-form1 table tbody td.numbers .numbers-box dt{
    position:absolute;
    top:5px;
    left:0;
    font-weight:normal;
    display:inline-block;
    width:70px;
    line-height:32px;
    padding-left:10px;
}
.kt-form1 table tbody td.numbers .numbers-box dd{
    margin:0 10px 0 70px;
}
.kt-form1 .form-input{
    display:block;

}
.kt-form1 .form-input.line{
    border-bottom:1px solid #000;
}
.kt-form1 .form-input input{
    width:100%;
    border:0;
    font-size:14px;
    padding:5px 0;
}
.kt-form1 table tbody td.no-line{
    border:0;
}
.kt-form1 table tbody td .phone{
    margin-top:5px;
}
.kt-form1 table tbody td .phone .form-input{
    display:inline-block;
    width:30%;
}
.kt-form1 table tbody td.mark{
    vertical-align: top;
    background:#fff;
}
.kt-form1 table tbody th .choice dl{
    margin:5px 0 0 0;
}
.kt-form1 table tbody th .choice dt{
    margin:0;
    font-weight:400;
    display:inline-block;
}
.kt-form1 table tbody th .choice dt .kt-checkbox{
    vertical-align: top;
    padding-left: 18px;
    margin:0 3px;
}
.kt-form1 table tbody th .choice dd{
    width:80px;
    display:inline-block;
    margin:0;
    text-align:left;
}
.kt-form1 table tbody td .ju dl{
    margin:0;
}
.kt-form1 table tbody td .ju dt{
    margin:0;
    font-weight:400;
}
.kt-form1 table tbody td .ju dd{
    margin:0;
}
.kt-form1 table tbody td .mark{
    background:#fff;
}
.kt-form1 table tbody td .mark dl{
    margin:0;
}
.kt-form1 table tbody td .mark dt{
    font-weight:400;
    margin:0;
}
.kt-form1 table tbody td .mark dd{
    margin:0;
}
.kt-form1 table .no-left-line{
    border-left:0 !important;
}
.kt-form1 table .no-right-line{
    border-right:0 !important;
}

.kt-form1 .form-date ul{
    margin:0;
    padding:0;
    font-size:0;
}

.kt-form1 .form-date li{
    display:inline-block;
    position:relative;
}
.kt-form1 .form-date li .form-input{
    margin-right:30px;
}
.kt-form1 .form-date li:after{
    content:'';
    position:absolute;
    top:0;
    right:10px;
    font-size:14px;
    line-height:32px;
}
.kt-form1 .form-date li.year{
    width:50%;
}
.kt-form1 .form-date li.year:after{
    content:'년';
}
.kt-form1 .form-date li.month{
    width:25%;
}
.kt-form1 .form-date li.month:after{
    content:'월';
}
.kt-form1 .form-date li.day{
    width:25%;
}
.kt-form1 .form-date li.day:after{
    content:'월';
}

.kt-form1 .form-textarea{
    border:1px solid #000;
    display:block;
    padding:5px;
}
.kt-form1 .form-textarea textarea{
    border:0;
    width:100%;
}
.kt-form1 .form-text{
    padding:10px;
    font-size:15px;
}
.kt-form1 .out-dates{
    width:30%;
    margin-left:70%;
    margin:20px 0 30px 70%;
}
.kt-form1 .out-dates .form-date{
    margin-right:10px;
}
.kt-form1 .form-info1{
    margin:0 20% 0 20%;
}
.kt-form1 .form-info1 dl{
    position:relative;
    margin:0;
    padding:10px 0;
}
.kt-form1 .form-info1 dt{
    position:absolute;
    top:10px;
    left:0;
    font-size:15px;
    font-weight:300;
    margin:0;
    padding:0;
    display:inline-block;
    width:100px;
    line-height:32px;
}
.kt-form1 .form-info1 dd{
    margin:0 0 0 100px;
    padding:0;
}
.kt-form1 .form-info2{
    width:50%;
    text-align:right;
    margin-left:50%;
    margin-top:30px;
}
.kt-form1 .form-info2 dl{
    display:inline-block;
    margin-right:20px;
}
.kt-form1 .form-info2 dl{
    font-size:15px;
}
.kt-form1 .form-info2 dt{
    display:inline-block;
    font-weight:300;
}
.kt-form1 .form-info2 dd{
    display:inline-block;
}
.kt-form1 .form-info2 .kt-checkbox{
    vertical-align: top;
    padding-left: 18px;
    margin:0 3px;
}
.kt-form1 .form-info2 .number .form-input{
    display:inline-block;
}
.kt-form1 .form-info3{
    width:50%;
    text-align:right;
    margin-left:50%;
    margin-top:10px;
    padding-right:20px;
    font-size:15px;
}

.kt-form1 .form-info3  .form-input{
    display:inline-block;
    width:300px;
}
.form-tips{
    margin-top:50px;
}
.form-tips strong{
    display:block;
    text-align:center;
    font-size:17px;
    background:#ddd;
    padding:10px 0;
}
.form-tips .tip-lists{
    padding:5px 20px;
    padding:5px 20px;
}
.form-tips .tip-lists ol{
    padding:10px 0;
    margin:0;
}
.form-tips .tip-lists li{
    font-size:15px;
    padding:5px 0;
    list-style: none;
}

.btn-login{
    height:60px;
    line-height:60px;
    text-align:center;
    background:#a08b7d;
    color:#fff;
    border:0;
    width:100%;
    font-size:24px;
    border-radius:3px;
}
.kt-login.kt-login--v3 {
    background-size: cover;
    background-repeat: no-repeat; }
.kt-login.kt-login--v3 .kt-login__wrapper {
    padding: 10% 2rem 1rem 2rem;
    margin: 0 auto 2rem auto;
    overflow: hidden; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container {
    width: 430px;
    margin: 0 auto;
}
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__logo {
    text-align: center;
    margin: 0 auto 4rem auto; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__head {
    margin-top: 1rem;
    margin-bottom: 3rem; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #595d6e; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__desc {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    color: #74788d; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form {
    margin: 0 auto; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .input-group {
    padding: 0;
    margin: 0 auto; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control {
    height: 46px;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1rem;
    font-size:14px;
    background: #f5f3f2; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control::-moz-placeholder {
    color: #74788d;
    opacity: 1; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control:-ms-input-placeholder {
    color: #74788d; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control::-webkit-input-placeholder {
    color: #74788d; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control.is-valid + .valid-feedback,
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control.is-invalid + .invalid-feedback {
    font-weight: 500;
    font-size: 0.9rem;
    padding-left: 1.6rem; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #74788d;
    font-size: 1rem; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-checkbox {
    font-size: 1rem; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-login__link {
    font-size: 1rem;
    color: #74788d;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-login__link:hover {
    color: #5d78ff;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions {
    text-align: center;
    margin-top: 7%; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary,
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-primary {
    height: 50px;
    padding-left: 2.5rem;
    padding-right: 2.5rem; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__account {
    text-align: center;
    margin-top: 2rem; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__account .kt-login__account-msg {
    font-size: 1rem;
    font-weight: 400;
    color: #74788d; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__account .kt-login__account-link {
    font-size: 1rem;
    font-weight: 500;
    color: #595d6e;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__account .kt-login__account-link:hover {
    color: #5d78ff;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }

.kt-login.kt-login--v3.kt-login--signin .kt-login__signup {
    display: none; }

.kt-login.kt-login--v3.kt-login--signin .kt-login__signin {
    display: block; }

.kt-login.kt-login--v3.kt-login--signin .kt-login__forgot {
    display: none; }

.kt-login.kt-login--v3.kt-login--signup .kt-login__signup {
    display: block; }

.kt-login.kt-login--v3.kt-login--signup .kt-login__signin {
    display: none; }

.kt-login.kt-login--v3.kt-login--signup .kt-login__forgot {
    display: none; }

.kt-login.kt-login--v3.kt-login--signup .kt-login__account {
    display: none; }

.kt-login.kt-login--v3.kt-login--forgot .kt-login__signup {
    display: none; }

.kt-login.kt-login--v3.kt-login--forgot .kt-login__signin {
    display: none; }

.kt-login.kt-login--v3.kt-login--forgot .kt-login__forgot {
    display: block; }

@media (max-width: 1024px) {
    .kt-login.kt-login--v3 .kt-login__wrapper {
        padding-top: 5rem;
        width: 100%; }
    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container {
        margin: 0 auto; }
    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__account {
        margin-top: 1rem; } }

@media (max-width: 768px) {
    .kt-login.kt-login--v3 .kt-login__wrapper {
        width: 100%; }
    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container {
        width: 100%;
        margin: 0 auto; }
    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form {
        width: 100%;
        margin: 0 auto; }
    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__account {
        margin-top: 1rem; } }
.login-noti{
    font-size:15px;
    color:#ee3e3e;
    font-weight:400;
    margin:5px 0 0 5px;
}

.kt-home-header{
    text-align:center;
    padding:40px 0;
    background:#fff;
}

.kt-home-body{
    padding-top:100px;
}
.kt-home-body .menus{
    font-size:0;
    text-align:center;
}
.kt-home-body .menus li{
    display:inline-block;
    margin:0 10px 10px 10px;
    height:140px;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
    overflow:hidden;
}
.kt-home-body .menus a{
    display:block;
    width:140px;
    height:140px;
    color:#a08b7d;
    font-size:26px;
    font-weight:500;
    text-align:center;
    border-radius:2px;
    line-height:180px;
    box-sizing: border-box;
    border:4px solid #a08b7d;
    transition: all .5s;
}
.kt-home-body .menus li.m1 a{
    background:#303030 url(../media/ico-home1-off.png) center 30px no-repeat;
}
.kt-home-body .menus li.m2 a{
    background:#303030 url(../media/ico-home2-off.png) center 30px no-repeat;
}
.kt-home-body .menus li.m3 a{
    background:#303030 url(../media/ico-home3-off.png) center 30px no-repeat;
}
.kt-home-body .menus li.m4 a{
    background:#303030 url(../media/ico-home4-off.png) center 30px no-repeat;
}
.kt-home-body .menus li.m5 a{
    background:#303030 url(../media/ico-home5-off.png) center 30px no-repeat;
}
.kt-home-body .menus li.m6 a{
    background:#303030 url(../media/ico-home6-off.png) center 30px no-repeat;
}
.kt-home-body .menus li.actived a, .kt-home-body .menus li a:hover{
    color:#fff;
}
.kt-home-body .menus li.m1.actived a, .kt-home-body .menus li.m1 a:hover{
    background:#a08b7d url(../media/ico-home1.png) center 30px no-repeat;
}
.kt-home-body .menus li.m2.actived a, .kt-home-body .menus li.m2 a:hover{
    background:#a08b7d url(../media/ico-home2.png) center 30px no-repeat;
}
.kt-home-body .menus li.m3.actived a, .kt-home-body .menus li.m3 a:hover{
    background:#a08b7d url(../media/ico-home3.png) center 30px no-repeat;
}
.kt-home-body .menus li.m4.actived a, .kt-home-body .menus li.m4 a:hover{
    background:#a08b7d url(../media/ico-home4.png) center 30px no-repeat;
}
.kt-home-body .menus li.m5.actived a, .kt-home-body .menus li.m5 a:hover{
    background:#a08b7d url(../media/ico-home5.png) center 30px no-repeat;
}
.kt-home-body .menus li.m6.actived a, .kt-home-body .menus li.m6 a:hover{
    background:#a08b7d url(../media/ico-home6.png) center 30px no-repeat;
}


.kt-home-body .status{
    text-align:center;
    font-size:46px;
    color:#fff;
    font-weight:500;
    padding:60px 0 70px 0;
}
.kt-home-body .barcode{
    margin:0 10px;
    text-align:center;
}
.kt-home-body .barcode input{
    width:100%;
    max-width:700px;
    height:80px;
    margin:0 auto;
    background:#44403e;
    border:0;
    border-radius:2px;
    color:#736e6c;
    font-size:30px;
    text-align:center;
    display:inline-block;
}

.kt-home-close{
    position:absolute;
    top:5px;
    right:10px;
    background:none;
    font-size:30px;
    border:0;
}
